*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    max-height: 4em;
}

.h_left{
    display: flex;
    align-items: center;
    /* padding-left: 2em; */
}

.h_left span{
    padding: 0.7em;
    cursor: pointer;
}

.h_left img{
    cursor: pointer;

}

.h_middle{
    display: flex;
    flex: 0.55;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    margin: 12px;
}

.h_middle input{
    border: none;
    padding: 0.5em;
    outline: none;
    width: 100%;
    font-size: medium;
    background-color: transparent;
}

.h_right{
    display: flex;
    align-items: center;
    padding-right: 2em;
}

.h_right span{
    padding: 0.4em;
    cursor: pointer;
}



.sidebar{
    flex: 0.03;
    max-width: 25em;
    padding-right: 1.3em;
    overflow: hidden;
    width: 2em;
    transition: width 1s;
    position: sticky;
}
.sidebar:hover{
    width: 24em;
    background-color: white;
    z-index:4;
    height: 100vh;
}

.compose{
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    border: none;
    background-color: transparent;
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.8);
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
    text-transform: capitalize;
    color: gray;
    padding: 1em;
    border-radius: 2em;
    cursor: pointer;
}

.compose span{
    margin-right: 0.2em;
}

.sidebar_item{
    display: flex;
    align-items: center;
    height: 2.2em;
    padding: 0 1em;
    border-radius: 1.2em;
    cursor: pointer;
    color: darkgrey;
}

.sidebar_item .material-icons{
    margin-right: 0.5em;
}

.sidebar h3{
    margin-left: 0.7em;
    font-weight: 400;
    flex: 1;
    font-size: 1em;
}

.sidebar_item:hover,
.sidebar_item:hover h3,
.sidebar_item:hover .material-icons{
    background-color: #fcecec;

}

.item_active{
    background-color: #fcecec;
}

.content_child{
    /* float: left; */

}

.mail_content{
    /* position: absolute;
    z-index: -2; */
    margin-left: 12em;
    display: flex;
    padding-top: 1.5em;
}

.mail_content span{
    margin-right: 0.5em;
    padding: 0.5em;
}

.mail_content .after_icons{
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
}

.show_ele{
    display: block;
}

.select_all{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.mails{
    position: absolute;
    z-index: -1;
    margin-top: 6em;
    margin-left: 12em;
}

.content{
    display: flex;
    height: 100vh;
    /* width: 100%; */
    margin-top: .7em;
    margin-left: 14em;
    z-index:0
    /* margin-top: 100px; */
}

body{
    height: 100vh;
    overflow-y: hidden;
}
.email_list{
    flex:1;
    overflow: scroll;
}
.email_list_setting{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index:999;
    padding: 0.5em;
    width: 80%;
}
.email_list_setting_left{
    display: flex;
    align-items: center;

}
.email_list .material-icons{
    margin: 0.2em;
    cursor: pointer;
}
.section{
    display: flex;
    align-items: center;
    border-bottom: 2px;
    padding: 1em;
    cursor:pointer;
    color: grey;
    border-width: 0;
    min-width: 12em;
    border-top-left-radius: 1.5em;
}
.email_section{
    position: sticky;
    top:0;
    display: flex;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    z-index:999;
}
.section_selected{
    background-color:whitesmoke;
    border-width: 3px;
    color: red;
    border-bottom: 3px solid red;
}
.emailRow_options{
    display: flex;
    align-items: center;

}
.emailRow_options .material-icons,
input{
    margin:0.2em;
}
.emailRow{
    display: flex;
    align-items: center;
    height: 3em;
    border: 1px solid whitesmoke;
    cursor: pointer;
}
.emailRow:hover{
    background-color: whitesmoke;
    border-top: 1px solid whitesmoke;
    box-shadow: 0 4px 4px -2px rgba(0,0,0,0.24);
}
.toggle_diss{
    display: flex;
}

/* .main_body_class{
    display: flex;
}
 */

 .main_class_item{
     float: left;
     position: absolute;
 }

 .side_column{
    /* border: 2px solid black; */
    margin-left: .6em;

 }

.p_message{
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.2em;
    font-weight: 400;
}

.emailList_list{
    width: 80vw;
    height: 65%;
    overflow-y: scroll;
}